.about-us {
    &__image {
        height: 30rem;
        background-size: cover;
        background-position: left center;

        @media (min-width: $screen-xs) {
            height: 35rem;
        }

        @media (min-width: $screen-sm) {
            height: 50rem;
        }

        @media (min-width: $screen-md) {
            height: auto;
        }

        @media (min-width: $screen-xl) {
            height: 60rem;
        }
    }

    &__text {
        padding: 3rem;
        background: darken(white, 3%);

        @media (min-width: $screen-sm) {
            padding: 4rem;
        }

        @media (min-width: $screen-md) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5rem;
        }

        @media (min-width: $screen-lg) {
            padding: 6rem;
        }
    }

    &__heading {
        font-size: 2.6rem;
        margin: 0 0 3rem 0;
    }

    &__embla-robotics, &__husqvarna {
        @media (min-width: $screen-md) {
            display: flex;

            > div {
                width: 50%;
            }
        }
    }

    &__husqvarna {
        .about-us__image {
            order: 1;
        }
    }

    &__contact {
        color: $color-primary;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
        > div {
            margin: 1rem 0;
        }

        &__item {
            display: flex;
            align-items: center;
        }

        &__location {
            margin-right: 3rem !important;

            @media (min-width: $screen-lg) {
                margin-right: 4rem !important;
            }

            i {
                margin-right: 0.6rem;
                font-size: 2.8rem;
            }
        }

        &__email-phone {
            > div {
                margin: 0.3rem 0;
            }

            i {
                font-size: 2.2rem;
                margin-right: 1rem;
            }
        }
    }
}
