.downloads {
    background: darken(white, 5%);
    padding: 8rem 0 6rem 0;
    margin-top: 4rem;

    &__heading {
        text-align: center;
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0 0 2rem 0;
        color: lighten(black, 45%);
    }

    > .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: $screen-sm) {
            flex-wrap: nowrap;
        }
    }

    &__item {
        width: 22rem;
        position: relative;
        background: white;
        padding: 10px;
        margin: 3rem;
        border-radius: $ui-border-radius;

        &:hover .downloads__item__image {
            opacity: 1;
        }

        @media (min-width: $screen-lg) {
            margin: 3rem 4rem;
        }

        &__icon {
            position: absolute;
            top: 0;
            left: 0;
            background: lighten(black, 40%);
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: $ui-border-radius 0 $ui-border-radius 0;
            z-index: 100;

            i {
                color: darken(white, 5%);
            }
        }

        &__image {
            opacity: 0.8;
            transition: opacity 0.15s ease-out;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        &__heading {
            margin: 1rem 0 0.5rem 0;
            text-align: center;
            font-size: 1.8rem;
        }
    }
}
