.free-quote {
    &__atf {
        position: relative;

        &__image {
            background-size: cover;
            background-position: left center;
            height: 30rem;

            @media (min-width: $screen-xs) {
                height: 40rem;
            }

            @media (min-width: $screen-sm) {
                height: 50rem;
            }

            @media (min-width: $screen-md) {
                height: 65rem;
            }
        }

        &__panel-container {
            background: darken(white, 3%);
            padding: 4rem 2rem;

            @media (min-width: $screen-md) {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                background: none;
            }

            @media (min-width: $screen-lg) {
                padding: 0;
            }
        }

        &__panel {
            padding: 3rem;
            border: 2px solid darken(white, 20%);
            border-radius: $ui-border-radius;

            @media (min-width: $screen-md) {
                background: rgba(0,0,0,0.6);
                border-width: 0;
                padding: 5rem;
            }

            &__heading {
                font-size: 3rem;
                margin: 0 0 3rem 0;

                @media (min-width: $screen-md) {
                    color: white;
                }
            }

            &__copy {
                font-size: 1.9rem;
                margin: 0 0 4rem 0;
                max-width: 45rem;

                @media (min-width: $screen-md) {
                    color: darken(white, 2%);
                }
            }
        }
    }

    &__form {
        &__fields {
            display: grid;
            grid-gap: 1.5rem;

            @media (min-width: $screen-xs) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: $screen-sm) {
                grid-gap: 2rem;
            }
        }

        input {
            min-width: 24rem;
        }

        button[type=submit] {
            width: 100%;

            @media (min-width: $screen-xs) {
                grid-column: 1 / span 2;
            }
        }
    }

    &__details {
        > .container {
            @media (min-width: $screen-sm) {
                display: flex;
                justify-content: space-between;

                > div {
                    width: 47%;

                    @media (min-width: $screen-md) {
                        width: 46%;
                    }
                }
            }
        }

        &__heading {
            font-size: 2.6rem;
            margin: 0 0 3rem 0;

            @media (min-width: $screen-md) {
                margin-bottom: 4rem;
            }
        }

        &__text {
            font-size: 1.7rem;

            a {
                color: $color-primary;
            }
        }
    }

    &__location {
        margin: 6rem 0;

        &__map {
            margin-top: 3rem;
        }
    }

    &__contact {
        margin: 6rem 0;
    }
}

.contact {
    &__divider {
        width: 30rem;
        height: 1px;
        border-top: 1px solid darken(white, 15%);
        margin-top: 3rem;
        padding-bottom: 3rem;
    }

    &__info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;

        &__image {
            width: 11rem;
            height: 11rem;
            border-radius: 50%;
            margin-right: 3rem;
        }

        &__name {
            font-size: 2.0rem;
            color: lighten(black, 40%);
            margin-bottom: 0.2rem;
        }

        &__title {
            font-size: 1.7rem;
            color: darken(white, 40%);
            margin-bottom: 2rem;
        }

        &__email, &__phone {
            display: flex;
            align-items: center;
            color: $color-primary;
            margin: 0.5rem 0;

            i {
                font-size: 2.2rem;
                margin-right: 1rem;
            }

            a {
                color: $color-primary;
            }
        }
    }

    &__company {
        &__slogan {
            margin-top: 1rem;
            font-size: 2.4rem;
            font-weight: 100;
            color: darken(white, 50%);
        }
    }
}
