.home {
    &__section {
        position: relative;

        &.fullwidth-bg-image {
            background-size: cover;
            background-position: center;
            height: 60rem;

            @media (min-width: $screen-md) {
                height: 70rem;
            }
        }
    }

    &__panel-subheading {
        margin: 0 0 2rem 0;
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    &__panel-paragraph {
        color: darken(white, 2%);
        font-size: 1.7rem;
        line-height: 1.5;
    }

    &__intro {
       @media (min-width: $screen-md) {
           height: 100vh;
       }

        &__video-container {
            @media (min-width: $screen-md) {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: hidden;
                z-index: -100;
            }
        }

        &__video {
            display: none;

            @media (min-width: $screen-md) {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            @media (min-aspect-ratio: 16/9) {
                height: 300%;
                top: -100%;
            }

            @media (max-aspect-ratio: 16/9) {
                width: 300%;
                left: -100%;
            }
        }

        &__video-placeholder {
            height: 30rem;
            background-position: center;
            background-size: cover;

            @media (min-width: $screen-xs) {
                height: 40rem;
            }

            @media (min-width: $screen-sm) {
                height: 60rem;
            }

            @media (min-width: $screen-md) {
                display: none;
            }
        }

        &__panel-container {
            background: darken(white, 3%);

            @media (min-width: $screen-sm) {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                background: none;
            }

            @media (min-width: $screen-md) {
                position: static;
                height: 100%;
            }
        }

        &__panel {
            padding: 4rem 2rem;
            border-radius: $ui-border-radius;

            &__heading {
                font-size: 3.2rem;
                margin: 0 0 3rem 0;
            }

            &__subheading {
                color: lighten($color-base, 5%);
                margin: 0 0 5rem 0;
                font-size: 2.0rem;
                max-width: 45rem;
            }

            &__buttons {
                display: flex;
                flex-wrap: wrap;

                .ui-button {
                    width: 100%;

                    &:first-child {
                        margin-bottom: 2rem;

                        @media (min-width: $screen-xs) {
                            margin: 0 3rem 0 0;
                        }
                    }

                    @media (min-width: $screen-xs) {
                        width: auto;
                    }
                }
            }

            @media (min-width: $screen-sm) {
                background: rgba(0,0,0,0.6);
                padding: 5rem;

                &__heading {
                    color: white;
                }

                &__subheading {
                    color: darken(white, 5%);
                }
            }
        }

        &__arrow {
            display: none;

            @media (min-width: $screen-md) {
                display: flex;
                opacity: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 1.5rem 0;
                text-align: center;
                flex-direction: column;
                align-items: center;
                color: white;
                animation: fadeIn 0.2s ease-in 1 normal forwards;
                animation-delay: 1s;
            }

            @keyframes fadeIn {
                from { opacity: 0; }
                to { opacity: 1; }
            }

            span {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 1.5rem;
                letter-spacing: 0.4px;
            }

            i {
                font-size: 4.5rem;
                margin-top: -0.8rem;
            }
        }
    }

    &__problem-solution {
        background-size: cover;
        background-position: center;

        @media (min-width: $screen-sm) {
            height: 60rem;
            display: flex;
            align-items: flex-end;
        }

        @media (min-width: $screen-sm) {
            height: 70rem;
        }

        @media (min-width: $screen-lg) {
            height: 80rem;
        }

        &__content {
            background-color: rgba(24,66,34,0.8);
            padding: 6rem 3rem;
            color: white;
            width: 100%;

            @media (min-width: $screen-sm) {
                display: flex;
                justify-content: center;
            }

            > div {
                @media (min-width: $screen-sm) {
                    width: 48%;
                }

                @media (min-width: $screen-md) {
                    width: 45rem;
                }

                @media (min-width: $screen-lg) {
                    width: 50rem;
                }

                &:last-child {
                    margin-top: 6rem;

                    @media (min-width: $screen-sm) {
                        margin: 0 0 0 4%;
                    }

                    @media (min-width: $screen-md) {
                        margin-left: 6rem;
                    }

                    @media (min-width: $screen-md) {
                        margin-left: 10rem;
                    }
                }
            }
        }

        &__heading {
            font-size: 2.6rem;
            margin: 0 0 4rem 0;
            font-weight: 400;
        }

        p {
            font-size: 1.8rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__automower-intro {
        background-size: cover;
        background-position: center;
        padding: 8rem 0;
        text-align: center;

        &__heading {
            color: white;
            font-weight: 400;
            font-size: 4.0rem;
            text-align: center;
            margin: 0 0 2rem 0;
            text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        }

        &__subheading {
            color: white;
            font-size: 2.2rem;
            font-weight: 400;
            text-align: center;
            margin: 0 0 5rem 0;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        }

        &__video {
            max-width: 100rem;
            margin: 0 auto;
            background: rgba(0,0,0,0.3);
            padding: 0.8rem;
            border-radius: $ui-border-radius;

            &__link {
                color: darken(white, 10%);
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1.5rem 0 0.8rem 0;
                font-size: 1.8rem;

                i {
                    margin-right: 1rem;
                }

                a {
                    color: inherit;
                }
            }
        }
    }

    &__set-it-and-forget-it {
        &__panel-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        &__panel {
            max-width: 52rem;
            background: rgba(0,0,0,0.6);
            padding: 3rem;
            border-radius: $ui-border-radius;

            @media (min-width: $screen-xs) {
                padding: 5rem;
            }
        }
    }

    &__a-better-looking-lawn {
        &__panel-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            align-items: flex-end;
        }

        &__panel {
            max-width: 52rem;
            background: rgba(0,0,0,0.6);
            padding: 3rem;
            border-radius: $ui-border-radius;

            @media (min-width: $screen-xs) {
                padding: 5rem;
            }
        }
    }

    &__services {
        background: darken(white, 4%);
        padding: 6rem 0;

        .services {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            &__item {
                width: 34rem;
                text-align: center;
                margin: 3rem;

                &:first-child > i {
                    padding-left: 8rem;
                }
            }

            &__icon {
                font-size: 9rem;
                color: darken(white, 30%);
            }

            &__heading {
                margin: 2rem 0;
                font-size: 2.4rem;
            }

            &__text {
                font-size: 1.7rem;
            }
        }
    }

    &__cta {
        .home__intro__panel-container {
            align-items: flex-end;
        }

        &__panel-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            height: 100%;
        }

        &__panel {
            background: rgba(0,0,0,0.6);
            padding: 5rem;
            border-radius: $ui-border-radius;

            &__heading {
                color: white;
                font-size: 3rem;
                margin: 0 0 3rem 0;
            }

            &__copy {
                color: white;
                font-size: 1.9rem;
                margin: 0 0 4rem 0;
                max-width: 45rem;
            }

            &__buttons {
                display: flex;
                flex-wrap: wrap;

                .ui-button {
                    width: 100%;

                    &:first-child {
                        margin-bottom: 2rem;

                        @media (min-width: $screen-xs) {
                            margin: 0 3rem 0 0;
                        }
                    }

                    @media (min-width: $screen-xs) {
                        width: auto;
                    }
                }
            }
        }
    }
}
