.how-automower-works {
    &__intro {
        background-size: cover;
        background-position: center;
        padding: 8rem 0;
        text-align: center;

        &__heading {
            color: white;
            font-size: 4.0rem;
            font-weight: 400;
            text-align: center;
            margin: 0 0 5rem 0;
            text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        }

        &__video {
            max-width: 100rem;
            margin: 0 auto;
            background: rgba(0,0,0,0.3);
            padding: 0.8rem;
            border-radius: $ui-border-radius;

            &__link {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1.5rem 0 0.8rem 0;
                font-size: 1.8rem;

                i {
                    margin-right: 1.5rem;
                }

                a {
                    color: inherit;
                }
            }
        }
    }

    &__overview {
        background-size: cover;
        background-position: center;

        &__cover-filter {
            background: rgba(0,0,0,0.4);
            height: 100%;
        }
    }

    &__features {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 6rem 0;
    }

    &__features-item {
        width: 30rem;
        text-align: center;
        color: white;
        margin: 2rem;

        &__heading {
            margin: 2rem 0 1.5rem 0;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 0.5px;
        }

        &__text {
            font-size: 1.7rem;
            line-height: 1.5;
        }

        @media (min-width: $screen-lg) {
            margin: 3rem;
        }

        @media (min-width: $screen-xl) {
            width: 34rem;
        }
    }
}
