.products-single {
    &__heading {
        font-size: 4rem;
        color: $color-primary;
        font-family: $font-husqvarna;
        text-transform: uppercase;
        margin: 7rem 0 3rem 0;
    }

    &__overview {
        @media (min-width: $screen-sm) {
            display: flex;
        }
    }

    &__details {
        @media (min-width: $screen-sm) {
            width: 45%;
        }
    }

    &__description {
        margin-bottom: 4rem;
        font-size: 1.7rem;
    }

    &__image {
        margin-bottom: 2rem;
        flex: 1;

        img {
            max-width: 100%;
            height: auto;
        }

        @media (min-width: $screen-sm) {
            margin: 0 0 0 2rem;
            order: 1;
        }

        @media (min-width: $screen-lg) {
            margin-left: 4rem;
        }
    }

    &__link {
        @media (min-width: $screen-xs) {
            display: flex;
            align-items: flex-end;
        }

        .ui-button {
            margin-top: 2rem;

            @media (min-width: $screen-xs) {
                margin: 0 0 1rem 4rem;
            }
        }
    }

    .product__financing {
        margin: 3rem 0 0 0;
        justify-content: flex-start;
        padding: 0;

        div {
            max-width: 35rem;
        }
    }

    &__cta {
        margin-top: 7rem;
        padding: 8rem 2rem;
        background: $color-primary;
        text-align: center;
        color: white;

        &__heading {
            font-size: 2.4rem;
            margin: 0;
            font-weight: 400;
            text-transform: uppercase;
        }

        &__text {
            font-size: 1.8rem;
            margin: 4rem auto;
            max-width: 45rem;
        }
    }
}

.products-list {
    margin-top: 3rem;

    > .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        width: 32rem;
        margin: 4rem 3rem;

        @media (min-width: $screen-lg) {
            margin: 4rem;
        }
    }

    &__heading {
        font-size: 2.9rem;
        color: $color-primary;
        font-family: $font-husqvarna;
        text-transform: uppercase;
        margin: 0 0 3rem 0;
    }

    &__image {
        img {
            max-width: 100%;
            height: auto;
        }

        @media (min-width: $screen-sm) {
            height: 18rem;
        }
    }

    .product {
        &__price {
            display: block;

            &__heading {
                font-size: 1.6rem;
            }

            &__value {
                font-size: 3.2rem;
            }
        }
    }
}

.product {
    &__spec {
        font-size: 1.6rem;
        display: flex;
        align-items: flex-start;
        margin: 0.8rem 0;

        &__name {
            display: flex;
            align-items: center;
            min-width: 18rem;

            i {
                margin-right: 1rem;
                font-size: 2.2rem;
            }
        }

        &__value {
            font-weight: 400;
        }
    }

    &__features {
        margin-top: 3rem;
        display: flex;
        align-items: center;

        &__item {
            margin-right: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity 0.15s ease-out;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            img {
                opacity: 0.5;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &__price {
        margin-top: 3rem;

        &__heading {
            font-size: 1.7rem;
            color: darken(white, 40%);
        }

        &__value {
            font-size: 3.6rem;
            font-family: $font-husqvarna;
        }
    }

    &__financing {
        display: flex;
        justify-content: center;
        margin: 2rem 0 8rem 0;
        padding: 0 3rem;

        div {
            font-weight: 400;
            text-align: center;
            padding: 1.6rem 2rem;
            border: 2px solid $color-primary;
            border-radius: $ui-border-radius;
        }
    }
}
