.ui-button {
    font-family: $font-base;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    border-radius: $ui-border-radius;
    padding: 1.2rem 2.2rem;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    border: none;
    transition: all 0.1s ease-out;
    text-transform: uppercase;

    &:active, &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        opacity: 0.7;
    }

    &--default {
        background: $btn-default-bg;
        color: lighten(black, 40%);
        border: 2px solid darken($btn-default-bg, 5%);

        &:hover {
            background: lighten($btn-default-bg, 5%);
            color: lighten(black, 40%);
        }

        &:active, &:visited {
            color: lighten(black, 40%);
        }

        &.ui-button--active {
            background: darken($btn-default-bg, 10%);
            color: lighten(black, 35%);
        }
    }

    &--primary {
        background: $btn-primary-bg;
        color: white;
        border: 2px solid darken($btn-primary-bg, 5%);

        &:hover {
            background: lighten($btn-primary-bg, 2%);
        }

        &:active, &:visited {
            color: white;
        }
    }

    &--secondary {
        background: $btn-secondary-bg;
        color: white;
        border: 2px solid darken($btn-secondary-bg, 5%);

        &:hover {
            background: darken($btn-secondary-bg, 3%);
        }

        &:active, &:visited {
            color: white;
        }
    }

    &--tertiary {
        font-size: 1.3rem;
        padding: 1rem 1.8rem;
        background: $btn-primary-bg;
        color: white;
        border: 2px solid darken($btn-primary-bg, 5%);

        &:hover {
            background: lighten($btn-primary-bg, 2%);
        }

        &:active, &:visited {
            color: white;
        }
    }
}
