fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input, textarea {
    font-family: $font-base;
    font-size: 1.7rem;
    color: $color-base;
    background: darken(white, 2%);
    padding: 1.4rem 2rem;
    width: 100%;
    border: 2px solid darken(white, 15%);
    border-radius: $ui-border-radius;
    transition: all 0.15s ease-out;

    &:focus {
        background: white;
        outline: none;
    }

    &::placeholder {
        color: lighten($color-base, 20%);
    }
}

input {
    outline: none;
}

.sr-only {
    display: none;
}

.user-feedback {
    display: none;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    border: 2px solid black;
    font-weight: 400;
    border-radius: $ui-border-radius;
    background: white;

    &.success {
        border-color: $color-success;
    }

    &.error {
        border-color: $color-danger;
    }
}
