.testimonials {
    background: darken(white, 2%);
    padding: 6rem 0 8rem 0;
    border-top: 1px solid darken(white, 10%);
    border-bottom: 1px solid darken(white, 10%);

    &.active {
        .testimonials__pager__item {
            margin-left: 0;
            margin-right: 0;
            transform: matrix(0.8, 0, 0, 0.8, 0, 40);

            @media (min-width: $screen-md) {
                transform: matrix(0.75, 0, 0, 0.75, 0, 45);
            }
        }
    }

    &__heading {
        margin: 0;
        text-align: center;
        font-size: 3rem;
    }

    &__subheading {
        margin: 0 0 2.2rem 0;
        font-size: 1.7rem;
        text-align: center;
    }

    &__slider {
        background: lighten(black, 20%);
    }

    &__slide {
        height: 50rem;
        position: relative;

        @media (min-width: $screen-md) {
            height: 65rem;
        }

        &__filter {
            background: rgba(black, 0.3);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            padding: 3rem;
        }

        &__quote {
            font-size: 2rem;
            letter-spacing: 0.2px;
            line-height: 1.5;
            font-style: italic;
            color: white;
            max-width: 85rem;
            text-align: center;

            @media (min-width: $screen-sm) {
                font-size: 2.5rem;
                font-weight: 200;
            }

            @media (min-width: $screen-md) {
                font-size: 3.5rem;
            }
        }

        &__name {
            margin-top: 4rem;
            font-size: 1.5rem;
            color: darken(white, 25%);
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 400;

            @media (min-width: $screen-sm) {
                font-size: 1.6rem;
                font-weight: 300;
            }
        }

        &__image {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0.3;
            background-size: cover;
            background-position: top center;
        }

        &__play {
            cursor: pointer;
            color: white;
            font-size: 9rem;
            margin-top: 4rem;
            transition: opacity 0.2s ease-out;

            &:hover {
                opacity: 0.8;
            }
        }

        &__video {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(black, 0.7);
            z-index: 3;
            justify-content: center;
            align-items: center;

            .video-wrapper {
                width: 100%;

                @media (min-width: $screen-sm) {
                    height: 100%;
                    max-width: 800px;
                    padding-bottom: 0;
                }

                @media (min-width: $screen-md) {
                    max-width: 1244px;
                }
            }
        }

        &.playing {
            .testimonials__slide__video {
                display: flex;
            }

            .testimonials__slide__filter {
                display: none;
            }
        }
    }

    &__pager {
        padding: 0 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -4.5rem;

        @media (min-width: $screen-sm) {
            margin-top: -5rem;
        }

        &__item {
            cursor: pointer;
            margin: 1rem 1.5rem;
            z-index: 2;
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            border: 2px solid white;
            background: white;
            position: relative;
            transition: all 0.2s ease-out;

            &.active, &:hover {
                img {
                    opacity: 1;
                }

                i {
                    opacity: 0;
                }
            }

            @media (min-width: $screen-sm) {
                width: 8rem;
                height: 8rem;
            }

            img {
                opacity: 0.7;
                transition: opacity 0.2s ease-out;
                border-radius: 50%;
            }

            &__icon {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    color: white;
                    font-size: 2rem;
                    transition: opacity 0.2s ease-out;
                }
            }
        }
    }
}
