.mdl-tooltip {
    font-family: $font-base;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.0rem 1.4rem;
    background: lighten(black, 30%);
    color: darken(white, 3%);
    line-height: 1.3;
    border-radius: 3px;
    max-width: 22rem;
}
