.page-footer {
    background: darken(white, 8%);
    text-align: center;
    padding: 3.5rem 2rem;
    color: lighten(black, 60%);
    font-size: 1.4rem;

    p {
        margin: 0 0 0.5rem 0;

        &:last-child {
            margin: 0;
        }

        a {
            color: lighten(black, 40%);
        }
    }
}
