.header {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    &__logo {
        line-height: 0;
        width: 18rem;

        @media (min-width: $screen-md) {
            width: 22rem;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__nav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        background: white;
        border-radius: 0 0 0 $ui-border-radius;
        box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.15);
        transform: translateX($sidebar-width*2);
        transition: 0.15s all ease-in;

        ul {
            list-style: none;
            margin: 0 0 0.5rem 0;
            padding: 0;

            @media (min-width: $screen-md) {
                display: flex;
                margin-bottom: 0;
            }

            li {
                margin: 0;

                &:last-child a {
                    color: $color-primary;

                    &:hover {
                        color: lighten($color-primary, 5%);
                    }
                }
            }

            a {
                text-transform: uppercase;
                font-size: 1.5rem;
                color: lighten(black, 50%);
                font-weight: 400;
                transition: all 0.15s ease-out;
                padding: 2.0rem 2.5rem;
                display: block;
                letter-spacing: 0.2px;

                @media (min-width: $screen-md) {
                    padding: 2rem 1.6rem;

                    &:hover {
                        color: lighten(black, 40%);
                    }
                }
            }

            .current-menu-item a {
                font-weight: 500;
            }
        }

        &--open {
            transform: translateX(0);
        }

        &--landing {
            position: static;
            transform: translateX(0);
            box-shadow: none;
            background: none;

            ul {
                margin-bottom: 0;

                li a {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        &__toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: -2rem;
            cursor: pointer;
            width: $header-height-mobile;
            height: $header-height-mobile;

            @media (min-width: $screen-md) {
                display: none;
            }

            i {
                font-size: 3rem;
                color: darken(white, 50%);
            }
        }

        @media (min-width: $screen-md) {
            display: flex;
            align-items: center;
            position: static;
            box-shadow: none;
            transform: none;
            background: none;
        }
    }

    &__banner {
        background: $color-primary;
        text-align: center;
        color: white;
        padding: 1.2rem 2rem;
        display: grid;
        grid-gap: 1.2rem;
        justify-content: center;

        @media (min-width: $screen-xs) {
            grid-template-columns: auto min-content;
            align-items: center;
            grid-gap: 2rem;
        }

        &__heading {
            font-size: 1.9rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        &__text {
            font-size: 1.7rem;
        }

        .ui-button {
            padding: 0.8rem 1.4rem;
        }
    }
}

.header-spacer {
    height: 6.5rem;

    &.has-header-banner {
        height: 16rem;

        @media (min-width: $screen-xs) {
            height: 13rem;
        }
    }
}

.page-template-default.home {
    @media (min-width: $screen-md) {
        .header-spacer {
            display: none;
        }
    }
}
