@font-face {
    font-family: 'HusqvarnaGothic-Bold';
    src:
        url('../fonts/husqvarna-gothic/HusqvarnaGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/husqvarna-gothic/HusqvarnaGothic-Bold.woff') format('woff'),
        url('../fonts/husqvarna-gothic/HusqvarnaGothic-Bold.ttf')  format('truetype'),
        url('../fonts/husqvarna-gothic/HusqvarnaGothic-Bold.svg#HusqvarnaGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src:
        url('../fonts/proxima-nova/proximanova-thin-webfont.woff2') format('woff2'),
        url('../fonts/proxima-nova/proximanova-thin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src:
        url('../fonts/proxima-nova/proximanova-light-webfont.woff2') format('woff2'),
        url('../fonts/proxima-nova/proximanova-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova';
    src:
        url('../fonts/proxima-nova/proximanova-regular-webfont.woff2') format('woff2'),
        url('../fonts/proxima-nova/proximanova-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
