html {
    font-size: 10px;
    box-sizing: border-box;

    @media (max-width: 1200px) {
      font-size: 9px;
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: $font-base;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
    color: $color-base;
    -webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3 {
    font-family: $font-heading;
    font-weight: 300;
}

h1 {
    font-size: 4.2rem;
    line-height: 1.1;
}

h2 {
    font-size: 3.5rem;
    line-height: 1.2;
}

h3 {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    font-weight: 400;
}

sup {
    top: -0.3em;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: $container-max-width;
    margin: 0 auto;

    @media (max-width: $container-max-width + 40) {
        padding: 0 2rem;
    }
}

.video-wrapper, .map-wrapper {
    position: relative;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video-wrapper {
    padding-bottom: 56.25%;
}

.map-wrapper {
    padding-bottom: 65%;
}
