// fonts
$font-base: 'proxima-nova', Arial, sans-serif;
$font-heading: 'proxima-nova', Arial, sans-serif;
$font-husqvarna: 'HusqvarnaGothic-Bold', Arial, sans-serif;

// colors
$color-base: lighten(black, 40%);
$color-primary: #36AD00;

$color-success: $color-primary;
$color-danger: darken(red, 15%);

// layout
$ui-border-radius: 3px;
$container-max-width: 1200px;
$sidebar-width: 25rem;
$header-height-desktop: 7rem;
$header-height-mobile: 6rem;

// screen sizes
$screen-xs: 550px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;

// buttons
$btn-default-bg: darken(white, 10%);
$btn-primary-bg: $color-primary;
$btn-secondary-bg: lighten(black, 20%);
